<div id="map-canvas"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script>
    function initialize() {
      var myLatlng = new google.maps.LatLng();
      var mapOptions = {
        zoom: 12,
        center: myLatlng
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var marker = [
      <% @place.each do |place| %>
        <% if place == @place.last %>
        ['<%= link_to place.name, place_path(place) %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>, 4]
        <% else %>
        ['<%= link_to place.name, place_path(place) %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>, 4],
        <% end %>
      <% end %>
        position: myLatlng,
        map: map,
        title: 'Hello World!'
      });
    }

  google.maps.event.addDomListener(window, 'load', initialize);

  </script>